#alp{
    background-color:black;
    color: white;
    font-size:28px;
    font-family: Helvetica,'Times New Roman', Times, sans-serif;

}
#del{
    background-color:yellow;
    color:black;
    font-family: Helvetica,'Times New Roman', Times, sans-serif;
    font-size: 28px;
}